[submodule "thirdparty"]
	path = thirdparty
	url = https://github.com/jinyanghk/source-thirdparty
[submodule "ivp"]
	path = ivp
	url = https://github.com/jinyanghk/source-physics
[submodule "lib"]
	path = lib
	url = https://github.com/jinyanghk/source-engine-libs.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
